html,
body {
	height: 100%;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', Helvetica, sans-serif;
	background: rgba(41, 40, 45, 1);
	color: #fff;
	font-size: 16px;
	line-height: 1.42;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

img {
	display: block;
	max-width: 100%;
}

a {
	color: inherit;
}

ul {
	padding: 0;
	margin: 0;
}

ul li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: normal;
}

p {
	margin-top: 0;
	margin-block-start: 0em;
	margin-block-end: 0em;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
	min-width: 1200px;
}

.main-page-wrapper {
	background: url(/img/decor/lion-header.png) center top no-repeat, url(/img/decor/lion-back.png) right bottom 307px no-repeat;
}

.container {
	margin: 0 auto;
	width: 1143px;
}
