.inner-section {
	background: #fff;
	color: rgba(32, 32, 32, 1);
	padding: 89px 0px 0px 5px;
}

.inner-section--bg-grey {
	background: #f4f5f5;
}

.inner-section__title {
	font-size: 48px;
	font-weight: bold;
	padding-bottom: 65px;
}
