.paginator {
	display: flex;
	justify-content: center;
	align-items: center;
}


.paginator__display {
	margin-right: 22px;
}

.paginator__list {
	display: flex;
	align-items: center;
}

.paginator__item {
	text-align: center;
}

.paginator__item--active .paginator__link:hover {
	background: #353439;
}

.paginator--theme-light {
	color: #202123;
	padding: 0px 0 122px 65px;
}

.paginator--theme-light .paginator__item--active .paginator__link {
	color: #fff;
	background: #353538;
}

.paginator--theme-light .paginator__link:hover {
	color: #fff;
	background: #353538;
}

.paginator__link {
	display: block;
	width: 30px;
	height: 32px;
	border-radius: 50%;
	text-decoration: none;
	font-weight: bold;
	line-height: 35px;
}
