.socials {
	margin-right: 74px;
}

.socials__item {
	display: inline-block;
	vertical-align: middle;
	margin-right: 6px;
}

.socials__item:last-child {
	margin-right: 0;
}

.socials__link {
	display: block;
	text-decoration: none;
	width: 36px;
	height: 36px;
	background: center center no-repeat;

}

.socials__item--icon-tg .socials__link {
	background: url(../../img/socials/css_sprites.png);
	background-position: -10px -66px;
}

.socials__item--icon-tg .socials__link:hover {
	background-color: #29282D;
	box-shadow: 0px 8px 35px rgba(21, 66, 212, 0.4);
	transition: .1s
}

.socials__item--icon-vk .socials__link {
	background: url(../../img/socials/css_sprites.png);
	background-position: -66px -66px;
}

.socials__item--icon-vk .socials__link:hover {
	background-color: #29282D;
	box-shadow: 0px 8px 35px rgba(21, 66, 212, 0.4);
	transition: .15s
}

.socials__item--icon-fb .socials__link {
	background: url(../../img/socials/css_sprites.png);
	background-position: -10px -10px;
}

.socials__item--icon-fb .socials__link:hover {
	background-color: #29282D;
	box-shadow: 0px 8px 35px rgba(21, 66, 212, 0.4);
	transition: .2s
}

.socials__item--icon-ig .socials__link {
	background: url(../../img/socials/css_sprites.png);
	background-position: -66px -10px;
}

.socials__item--icon-ig .socials__link:hover {
	background-color: #29282D;
	box-shadow: 0px 8px 35px rgba(21, 66, 212, 0.4);
	transition: .25s
}
