.top-line {
	min-height: 415px;
	display: flex;
	flex-direction: column;
	padding-bottom: 24px;
	background: url(../../img/decor/lion-head-wide.jpg) right 50% top no-repeat;
}

.top-line__container {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
}

.top-line__header {
	margin: 0;
	padding-top: 24px;
}
